<h2>Discussion <%=@discussion.id%> details</h2>
<dl>
  <dt>Discussion Name:</dt>
    <dd><%= @discussion.title %></dd>
  <dt>Description:</dt>
    <dd><%= @discussion.body %></dd>
<% if current_user.can_modify_discussion? @discussion %>
  <%= link_to("modify",edit_project_discussion_path(@proj,@discussion))%>
  <%= link_to("delete discussion",project_discussion_path(@proj,@discussion),method: :delete, data: {confirm: "Are you sure you want to delete this?"}) %>
<%end%>
<% if @comments[0] %>
<ul>
  <% @comments.each do |comment| %>
  <li>By <%= comment.user.email%> at <%=comment.created_at.to_formatted_s(:long)%>: &nbsp; &nbsp; &nbsp;
  <% if current_user.can_modify_comment? comment %>
    <%= link_to("modify",edit_project_discussion_comment_path(@proj,@discussion,comment))%>
    <%= link_to("delete comment",project_discussion_comment_path(@proj,@discussion,comment),method: :delete, data: {confirm: "Are you sure you want to delete this?"}) %>
  <%end%>
    <ul>
   <li><%= comment.body %></li></ul>
    </li>
  <% end%>
</ul>
<%end%>
<%= render "comment_form" %>
</dl>
<%= link_to "Back to discussions page for project #{@proj.id}", project_discussions_path(@proj) %>